In [1]:
import pandas as pd

In [2]:
excel_input = 'output_previous/output_1.xlsx'

In [3]:
df = pd.read_excel(excel_input, sheet_name='Abrasives_raw_info')

In [8]:
df

,remark,Empty_0,Empty_1,text.1,text_1.1,text_2.1,text_3.1,text_4.1
0,"(Fused aluminum oxide, silicon carbide, and me...",NaN,NaN,NaN,Fused aluminum oxidee,Fused aluminum oxidee,Silicon carbidee,Silicon carbidee
1,(Data in metric tons unless otherwise specified),NaN,NaN,NaN,2022,2023,2022,2023
2,NaN,NaN,NaN,United States,—,—,"40,000","40,000"
3,NaN,NaN,NaN,United States and Canada,"60,000","60,000",—,—
4,NaN,NaN,NaN,Australia,"50,000","50,000",—,—
5,NaN,NaN,NaN,Austria,"90,000","90,000",—,—
6,NaN,NaN,NaN,Brazil,"50,000","50,000","40,000","40,000"
7,NaN,NaN,NaN,China,"800,000","800,000","450,000","450,000"
8,NaN,NaN,NaN,France,"40,000","40,000","20,000","20,000"
9,NaN,NaN,NaN,Germany,"80,000","80,000","35,000","35,000"
10,NaN,NaN,NaN,India,"40,000","40,000","5,000","5,000"
11,NaN,NaN,NaN,Japan,"15,000","15,000","60,000","60,000"
12,NaN,NaN,NaN,Mexico,—,—,"45,000","45,000"
13,NaN,NaN,NaN,Norway,—,—,"80,000","80,000"
14,NaN,NaN,NaN,Venezuela,—,—,"30,000","30,000"
15,NaN,NaN,NaN,Other countries,"80,000","80,000","200,000","200,000"
16,NaN,NaN,NaN,World total (rounded),"1,310,000","1,300,000","1,000,000","1,000,000"

In [18]:
# remarks_df = df[['remark']].dropna(subset=['remark'])
# remarks_df

                                              remark
0  (Fused aluminum oxide, silicon carbide, and me...
1   (Data in metric tons unless otherwise specified)

## match the remarks with the possible existing metrics, then match this with a number to dreb fih bach klchi yweli normalized by the end!